.imgContainer {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.buttonContainer {
	width: 20%;
	margin: auto;
}


img.displayed {
	display: block;
	border: solid 2px black;
/*    position: fixed;
*/    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;

    height: 100%;
    width: 100%;

} 

/*img.displayed {
	margin-left: auto;
	margin-right: auto;
} */

img {
	max-width: 100%;
	height: auto;
}