nav .pinPhoto{
	margin-right: 5px;
}

nav .loginBtn{
	margin-right: -5px;
}

nav .settingsBtn{
	margin-right: 15px;
	height: 34px;
	width: 40px;

}





/*nav a {
    color: #777;
    text-decoration: none;
}

nav a:hover {
	color: #aaa;
}

nav {
	background-color: #FFFFFF;
	position:fixed;
	top:0px;
	left:0px;
	box-shadow: 0px 4px 9px gray;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
}
nav ul{
	width: 100%;
	list-style-type: none;
	position: absolute;
	top: -12px;
}
nav li{
	float: left;
	padding: 20px;
}


nav .logo {
    color: rgb(204, 51, 63);
}

nav .pinPhotoBtn{
	margin-right: 105px;
	position: absolute;
	right: 0px;
}
nav .loginBtn{
	margin-right: 40px;
	position: absolute;
	right: 0px;
}

nav .settingsBtn{
	margin-right: 10px;
	position: absolute;
	right: 0px;
}*/