<h1>Hello, Rails!</h1>
<%= link_to "My Blog", controller: "posts" %>
<%= link_to 'New post', new_post_path %>

<div class="row">
        <div class="col-6 col-sm-3 col-lg-4">
            <h3>Photos</h3>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <img src="pictures/food1.jpg" alt="...">
                  <div class="carousel-caption">
                    Sushi
                  </div>
                </div>
                <div class="item">
                  <img src="pictures/food2.jpg" alt="...">
                  <div class="carousel-caption">
                    Seafood Pasta
                  </div>
                </div>
                <!-- ... -->
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </div>


        </div><!--/span-->
    <div class = "container">
        <div class="col-12 col-sm-9 col-lg-8">
            <h3>Newsfeed</h3>
            <p>
            <div class="row">
                <div class="newsfeed_elm">
                    <div class="col-2 col-sm-2 col-lg-2"><img src="pictures/food2.jpg" class="img-thumbnail"></div>
                    <div class="col-10 col-sm-10 col-lg-10">
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="newsfeed_elm">
                    <div class="col-2 col-sm-2 col-lg-2"><img src="pictures/food3.jpg" class="img-thumbnail"></div>
                    <div class="col-10 col-sm-10 col-lg-10">
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="newsfeed_elm">
                    <div class="col-2 col-sm-2 col-lg-2"><img src="pictures/food4.jpg" class="img-thumbnail"></div>
                    <div class="col-10 col-sm-10 col-lg-10">
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="newsfeed_elm">
                    <div class="col-2 col-sm-2 col-lg-2"><img src="pictures/food2.jpg" class="img-thumbnail"></div>
                    <div class="col-10 col-sm-10 col-lg-10">
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="newsfeed_elm">
                    <div class="col-2 col-sm-2 col-lg-2"><img src="pictures/food3.jpg" class="img-thumbnail"></div>
                    <div class="col-10 col-sm-10 col-lg-10">
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="newsfeed_elm">
                    <div class="col-2 col-sm-2 col-lg-2"><img src="pictures/food4.jpg" class="img-thumbnail"></div>
                    <div class="col-10 col-sm-10 col-lg-10">
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                </div>

            </div>
        </div><!--/span-->
    </div>
