body {
    margin: 0;
    padding: 0;
}

a {
    color: #777;
    text-decoration: none;
}

a:hover {
	color: #aaa;
}

nav {
	box-shadow: 0px 4px 9px gray;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 20px;
    height: 60px;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}
nav ul{
	list-style-type: none;
	position: absolute;
	top: -20px;
}
nav li{
	float: left;
	padding: 20px;
}


.logo {
    color: rgb(204, 51, 63);
}